/* global colors, typography, fonts */
html { padding:0 0 20px; background-color:#fff; }
body {
  color:#777;
  font-family: 'EB Garamond', serif;
  font-size:20px;
}
nav, h1, h2,
#please-join .bae,
#please-join .detail {
  font-family:'Raleway', sans-serif;
  letter-spacing:2px; text-transform:uppercase; }
h1, h2 { text-align:center; color:#555; }
h1 { font-size:150%; letter-spacing:2px; }
h2 { font-size:100%; }
h1#logo {
  font-size:300%;
  font-family: 'EB Garamond', serif;
  text-transform:capitalize;;
}
a { color: blue; }
a:visited { color: blue; }
a:hover { background-color: blue; color: #fff; }
nav a { color:inherit; text-decoration:none; font-weight:normal; }
nav a:hover { text-decoration:underline; }
nav a:visited { color:inherit;}
aside { font-style:italic;}
a, aside em { font-style:normal; white-space:nowrap; }

/* global layout */
body { width:90%; margin:0 auto; }
nav, header, section {
  margin:32px auto; padding:16px;
}
nav { margin-top:0; display:flex; justify-content:space-around; }
header { padding-left:0; padding-right:0; }
section {}

h1, h2 { margin:32px 0 16px; }
h2 span { white-space:nowrap;}
img { display:block; width:100%; margin:16px 0; }
ul { margin:16px 0; padding:0; }
p, li, aside { width:70%; text-align:center; }
p, li { margin:16px auto; }
li { display:block; list-style:none; }

p.detail, aside { margin:8px auto; }

/* section-specific overrides */
#please-join { margin:48px auto; }
#please-join h1, #please-join .detail {
  margin:32px auto; font-size:80%; color:#999; font-weight: normal;
}
#please-join p.names {
  padding:16px;
  border-top:1px solid #eee; border-bottom:1px solid #eee;
}
#please-join p .bae {
  display:block;
  font-size:120%;
  font-weight:bolder;
  padding:16px;
  letter-spacing: 3px;
}
#please-join p .and {
  letter-spacing: 1px;
  color:#999;
}
#please-join .and::before, #please-join .and::after { content:"\2014";}

#gift-registry ul { text-align:center; }
#gift-registry li {
  display:inline;
  padding:0 10px 0 14px;
  border-right:2px solid #999;
}
#gift-registry li:last-of-type { border-right:none; }
